<li>
	<table id="user_table" class="table table-bordered">
	<tr>
        <th rowspan="2" style="width:50px; height:30px;"><%= image_tag user.avatar_url.to_s, :id => 'profile' %></th>
		<th>Name:</th>
        <th>Email:</th>
        <th>
            Total Credits:
        </th>
        <% if current_user.user_type == 3 %>
        <th>
            Transfer Credit:
        </th>
        <% end %>
        <% if current_user.user_type == 4 && !current_user?(user) %>
        <th>Delete Account:</th>
        <% end %>
	</tr>
	<tr>
    	<th><%= link_to full_name(user), user %></th>
        <td>
            <%= user.email %>
        </td>
         <td>
            <%= user.credits.count %>
        </td>
        <% if current_user.user_type == 3 %>
        <td>
            <%= form_tag transfer_credit_path(user), :method => :put, :method => 'put' do %>

            <%= text_field_tag :amount, params[:amount], :class => 'amount' %>

            <%= submit_tag "transfer", :class => 'amount_button' %>
        <% end %>
        </td>
        <% end %>
    </tr>
    </table>
</li>