<% provide(:title, 'All users') %>
<div id="users_index_page" class="backdrop">
	<h1>All Users</h1>
	<%= form_tag users_path, :method => 'get' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<p>
			<%= text_field_tag :search, params[:search], class: "users_search_bar" %>
			<%= submit_tag "Search", :id => nil %>
		</p>
	<% end %>

	<table class="table">
		<tr>
			<th><%= sortable "user_id" %></th>
			<th><%= sortable "email" %></th>
			<th><%= sortable "first_name" %></th>
			<th><%= sortable "last_name" %></th>
			<th>Credits</th>
			<th>Pool Credits</th>
			<th>Delete User</th>
		</tr>
		<% for user in @users %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user_credits(user) %></td>
			<td><%= pool_credits(user) %></td>
	        <td> <%= link_to "delete", user, method: :delete, data: { confirm: "you sure?" } %>
	        </td>
		</tr>
		<% end %>
	</table>
	<%= will_paginate @users %>
</div>