<% provide(:title, full_name(@user)) %>

<div class="row">
	<div class="user_info">
		<%-# User Profile Picture -%>
			<div class="profile_pic">
				<%= image_tag @user.avatar_url.to_s, :id => 'profile' %>
			</div>
		<%-# User contact Information-%>
			<div class="profile_info">
				<h4 id="user_name">
					<%= full_name(@user) %>
				</h4>

				<h4>
					<%= @user.email %>
				</h4>
			</div>

		<div class="player_credits">
			</br>
				<p class="credit_count">
					Credits in Bank: <%= @player_credits %>
				</p>
			</br>
				<p class="credit_count">
					Credits in Pools: <%= @pool_credits %>
				</p>
			</br>
		</div>

		<div class="score_count">
			<p class="score">
				Wins:
			</p>
		</br>
			<p class="score">
				Losses:
			</p>
		</div>
	</div>
</div>

<div class="row">
	<aside class="span6">
		<div class="credit_redeem">
			<h3 class="redeem_label">Redeem Code Here</h3>
			<%= form_tag redeem_credits_credit_path, :method => 'put' do %>
			<p>
			<%= text_field_tag :search, params[:search], :class => 'credit_redeem_form' %>
			<%= submit_tag "Redeem", :class => 'redeem_button' %>
			</p>
			<% end %>
		</div>
	</aside>
	<aside class="span6">
		<div class="participating_pools">
			<h3 class="participating_pool_label">Participating Pools</h3>
			<%= render 'shared/pool_feed' %>
		</div>
	</aside
</div>