<div>

		<% @user.friends.each do |friend| %>
			<div class="item">
				<div class="friend_item_profile_pic"><%= image_tag @user.avatar_url.to_s, :class => 'thumb' %></div>
				<div class="friend_item_name"><%= link_to full_name(friend), friend %></div>
				<% unless hide_edit_links? %>
				<div class="friend_item_button"><%= button_to "Delete", delete_friendship_path(:id => friend), :method => :delete, :confirm => "you sure?", :class => 'friend_delete_button' %></div>
				<% end %>
			</div>
		<% end %>

		<% unless @user.requested_friends.empty? or hide_edit_links? %>
				
			<h3 class="friend_request_label_counter"> 
				<%= pluralize(@user.requested_friends.count, "requested friend") %>
			</h3>
				
			<% @user.requested_friends.each do |requester| %>

				<div class="item">
					<div class="friend_item_profile_pic">
						<%= image_tag @user.avatar_url.to_s, :class => 'thumb' %>
					</div>
					<div class="friend_item_name">
						<%= link_to full_name(requester), requester %>
					</div>
					<div class="friend_item_button">
						<%= button_to "Accept", accept_friendship_path(:id => requester), :method => :put, :class => 'friend_accept_button' %>
		
						<%= button_to "Decline", decline_friendship_path(:id => requester), :method => :delete, :confirm => "you sure?", :class => 'friend_decline_button' %>
					</div>
				</div>
			<% end %>
		<% end %>

		<% unless @user.pending_friends.empty? or hide_edit_links? %>

			<h3>
				<%= pluralize(@user.pending_friends.count, "pending friend") %>
			</h3>

			<% @user.pending_friends.each do |pending_friend| %>
				<div class="item">
					<div class="friend_item_profile_pic"><%= image_tag @user.avatar_url.to_s, :class => 'thumb' %></div>
					<div class="friend_item_name">
						<%= link_to full_name(pending_friend), pending_friend %>
					</div>
					<div class="friend_item_button">
						<%= button_to "Cancel Request", cancel_friendship_path(pending_friend), :method => :delete, :confirm => "you sure? #{full_name(pending_friend)}", :class => 'friend_cancel_button' %>
					</div>
				</div>
			<% end %>
		<% end %>
</div>