<div class="score_feed">
	<% @pool.players.each do |player| %>
		<div class="pool_player_item">

			<div class="pool_item_player_score">
					<%= player.team_one_predicted_score %> -
					<%= player.team_two_predicted_score %>
			</div>

			<div class="pool_item_player_name">
				<%= full_name(player.user) %>
			</div>

			<% if current_user.user_type == 4 %>
				<div class="pool_item_player_admin">
					<%= form_tag payout_credit_path(player), :method => 'put' do %>
					<%= text_field_tag :amount, params[:amount], :class => 'amount_button' %>

					<%= submit_tag "transfer", :class => 'amount_button' %>
					<% end %>

					<h3><%= link_to "delete", game_pool_player_path(@game,@pool,player), :method => 'delete' %></h3>
				</div>
			<% end %>
		</div>
	<% end %>
</div>