<div id="participating_pools_box" class="center">
	<div class="pool_sport">
		<p id="pool_sport">
			<%= pool_item.pool.game.sport %>
			<%= link_to "Pool", game_pool_path(pool_item.pool.game, pool_item.pool), class: "btn btn-mini btn-primary" %>
		</p>
	</div>

	<div class="pool_game_info">
		<p id="pool_game_info">
			<%= pool_item.pool.game.team_one %> vs. <%= pool_item.pool.game.team_two %>
			<%= pool_item.pool.game.time %>
		</p>
	</div>
	<div class="pool_info">
		<table class="pool_info_table">
			<tr>
				<td class="pool_info_table_cell_1">Bet:</td>
				<td class="pool_info_table_cell_2"><%= pool_item.bet %></td>
			</tr>

			<tr>
				<td class="pool_info_table_cell_1">Type:</td>
				<td class="pool_info_table_cell_2"><%= pool_item.pool.pool_type %></td>
			</tr>

			<tr>
				<td class="pool_info_table_cell_1">Owner:</td>
				<td class="pool_info_table_cell_2"><%= pool_owner(pool_item.pool.user_id) %></td>
			</tr>
		</table>
	</div>
</div>
