<div class="game_partial">
	<div class="game_partial_first">
		<h4 id="teams" class="center">
			<%= game.team_one %>
			</br>
			vs.
			</br>
			<%= game.team_two %>
		</h4>
		<p class="center">
			<%= link_to "Game #{game.id}", game, class: "btn btn-mini btn-primary" %>
		</p>
	</div>

	<div class="game_partial_second">
		<p id="game_time" class="center">
			<%= game.event_time %>
			</br>
			Pools: <%= game.pools.count %>
		</p>
	</div>
</div>