<h1><%= @game.team_one %> vs. <%= @game.team_two %></h1>

<p>
	<%= link_to "Back to Games", games_path, class: "btn btn-large btn-primary" %>
</p>

<p>
<%= link_to "Create New Pool", new_game_pool_path(@game), class: "btn btn-large btn-primary" %>
</p>

<div>
	<%= render @game.pools.sort_by &:id  %>
</div>