<div id="game_show_title_backdrop" class="backdrop">
	<div id="game_show_title">
		<h1><%= @game.team_one %> vs. <%= @game.team_two %></h1>
	</div>
</div>

<div id="games_buttons" class="row">
	<div class="back_to_games_button">
		<%= link_to "Back to Games", games_path, class: "btn btn-large btn-inverse" %>
	</div>

	<div class="create_new_pool_button">
		<%= link_to "Create New Pool", new_game_pool_path(@game), class: "btn btn-large btn-inverse" %>
	</div>
</div>

<div id="pools_index_box_backdrop" class="backdrop">
	<div id="pools_index_box">
		<%= render @game.pools.sort_by &:id  %>
	</div>
</div>